<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG26bOnHOgwt7HS6X0dPCNkVIZNZvLCLw</string>
	<key>GCM_SENDER_ID</key>
	<string>915397074830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storytellerai</string>
	<key>PROJECT_ID</key>
	<string>storytellerai-swag</string>
	<key>STORAGE_BUCKET</key>
	<string>storytellerai-swag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915397074830:ios:78dd94479fb86355c68edf</string>
</dict>
</plist>